<html>
    {% load static %}
    <head>
        <title>Cognize</title>

        <link rel="icon" type="image/png" href="{% static '/findwords/base/icons/favicon.ico' %}">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static '/findwords/css/findwords.css' %}">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
    </head>
    {% block script %}
    {% endblock script %}
    <script>
        function displayLoadingText() {
        document.getElementById("loading-text").innerHTML = "(Loading...)";
        }
    </script>
    <body> 

        <div class="page-header">
            <table>
                <tr>
                    <td>
                        <a href="/"><img src="{% static '/findwords/base/icons/Orange2.png' %}" alt="Orange" style="height:50px;"></a>
                    </td>
                    <td>
                        <h1>Cognize</h1>
                    </td>
                    <td>
                        <h3>____</h3>
                    </td>
                    <td>
                        <a href="/">Home</a>
                    </td>
                    <td>
                        <h3>_</h3>
                    </td>
                    <td>
                        <a href="/upload/">Upload</a>
                    </td>
                    <td>
                        <h3>_</h3>
                    </td>
                    <td>
                        <a href="/documents/">Document List</a>
                    </td>
                    <td>
                        <h3>_</h3>
                    </td>
                    <td>
                        <a href="/interestingwords/" onclick="displayLoadingText()">All Interesting Words</a>
                    </td>
                    <td>
                        <small><i><div id="loading-text"></div></i></small>
                    </td>
                </tr>
            </table>
        </div>

        <div class="content container">
            {% block content %}
            {% endblock content %}
        </div>

    </body>
</html>