{% extends "findwords/docs_main.html" %}

{% block doc_list %}
    <div class="list-title">
        <p>Click on a document to see its' interesting words, or <a href="/interestingwords/">see all Interesting Words</a>.</p>
    </div>
    <div class="list">
        <div class="doc-table">
            <table>
                <tr>
                    <th style="width: 150px">
                        Document
                    </th>
                    <th style="width: 250px">
                        Uploaded
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="list">
        <div class="doc-table">
            <div class="table-scroll">
                <table>
                    {% for doc in docs %}
                        <tr>
                            <td style="width: 150px">
                                <a href="{% url 'words_list' uuid=doc.uuid %}">{{ doc }}</a>
                            </td>
                            <td style="width: 250px">
                                {{ doc.upload_time }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock doc_list %}