{% extends "findwords/base.html" %}

{% block content %}
    <div class="content-title">
        <h1>Home</h1>
    </div>
    <div class="content">
        <p>Welcome to Cognize!</p>
        <p>Feel free to play around, or follow these instructions to get up and running:
            <ol>
                <li>Upload a document (or a few if you feel like it!) by opening the <a href="/upload/"><b>Upload</b></a> tab from the nav-bar.</li>
                <li>Be patient for a moment... while it's uploading your document(s), Cognize will also analyse all the text and pull out the interesting words.</li>
                <li>View the interesting words Cognize has found. These can always be found in the <a href="/interestingwords/"><b>All Interesting Words</b></a> tab in the nav-bar.</li>
                <li>See a list of all the documents uploaded in the <a href="/documents/"><b>Document List</b></a>.</li>
                <li>Return to this page whenever you like by clicking <a href="/"><b>Home</b></a> or the <a href="/"><b><i>Cognize</i></b></a> logo!</li>
            </ol>
        </p>
    </div>
    <div class="content-footer">
    </div>
{% endblock content %}